<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminFragments :: adminHeader0"> ... </head>
<body>
	<div id="main">
		<div id="header" th:include="fragments/adminFragments :: adminHeader1"> ... </div>
		<h2>Admin Console</h2>
		<div th:replace="fragments/adminFragments :: adminMenu"></div>
		
		<!-- content begin -->
		
		<!-- customerlist -->
		<div th:if="${customerList} != null">
			<table id="adminTable" class="detailsTable">
	
				<tr class="header">
					<th colspan="6">customers</th>
				</tr>
	
				<tr class="tableHeading">
					<td>cust. id</td>
					<td>name</td>
					<td>email</td>
					<td>phone</td>
					<td>&nbsp;</td>
					<td>&nbsp;</td>
				</tr>
		
				<tr th:each="customer,rowStat : ${customerList}"
					th:class="${rowStat.even}? 'lightBlue' : 'white'" th:attappend="class='tablerow'"  class="white tablerow" 
					th:onclick="|document.location.href='admin/customerRecord?id=${customer.id}'|">

					<!-- Below anchor tags are provided in case JavaScript is disabled -->
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}"
						class="noDecoration" th:utext="${customer.id}">${customer.id}</a></td>
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}"
						class="noDecoration" th:utext="${customer.name}">${customer.name}</a></td>
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}"
						class="noDecoration" th:utext="${customer.email}">${customer.email}</a></td>
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}"
						class="noDecoration" th:utext="${customer.phone}">${customer.phone}</a></td>
					<td><a href="customerRecord" th:href="@{/admin/customerEdit(id=${customer.id})}"
						class="noDecoration">EDIT</a></td>
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}"
						class="noDecoration">DETAILS</a></td>
				</tr>
				<tr>
					<td colspan="6" align="center">
						<span th:if="${currentIndex == 1}" >
			                &lt;&lt;&nbsp;
			                &lt;&nbsp;
				        </span>
				        <span th:if="${currentIndex != 1}" >
							<a th:href="@{/admin/viewCustomers?page=1}">&lt;&lt;</a>&nbsp;
							<a th:href="@{/admin/viewCustomers?page=} + ${currentIndex - 1}">&lt;</a>&nbsp;
				        </span>
				        <span th:each="i : ${#numbers.sequence( {beginIndex}, {endIndex})}">
							<span th:if="${i == currentIndex}">
								<a th:href="@{/admin/viewCustomers?page=} + ${i}" th:text="${i}"></a>&nbsp;
							</span>
							<span th:if="${i != currentIndex}">
								<a th:href="@{/admin/viewCustomers?page=} + ${i}" th:text="${i}"></a>&nbsp;
				            </span>
				        </span>
			            <span th:if="${currentIndex == customerPage.totalPages}">
			                &gt;&nbsp;
			                &gt;&gt;
			            </span>
			            <span th:if="${currentIndex != customerPage.totalPages}">
			                <a th:href="@{/admin/viewCustomers?page=} + ${currentIndex + 1}">&gt;</a>&nbsp;
			                <a th:href="@{/admin/viewCustomers?page=} + ${customerPage.totalPages}">&gt;&gt;</a>
			            </span>
		            </td>
				</tr>
	
			</table>

			
			
			
		</div>
		
		<!-- order list -->
		<div th:if="${orderList} != null">
			<table id="adminTable" class="detailsTable">
				<tr class="header">
					<th colspan="5">orders</th>
				</tr>
				<tr class="tableHeading">
					<td>customer</td>
					<td>order id</td>
					<td>confirmation number</td>
					<td>amount</td>
					<td>date created</td>
				</tr>
				<tr th:each="order,rowStat : ${orderList}"
						th:class="${rowStat.even}? 'lightBlue' : 'white'" th:attappend="class='tablerow'" class="white tablerow" 
						th:onclick="|document.location.href='admin/orderRecord?${order.id}'|">
						
					<!-- Below anchor tags are provided in case JavaScript is disabled -->
					<td><a href="customerRecord" th:href="@{/admin/customerRecord(id=${order.getCustomer().getId()})}" 
						class="noDecoration" th:utext="${order.getCustomer().getName()}">${order.getCustomer().getName()}</a></td>
					<td><a href="orderRecord" th:href="@{/admin/orderRecord(id=${order.id})}" 
						class="noDecoration" th:utext="${order.id}">${order.id}</a></td>
					<td><a href="orderRecord" th:href="@{/admin/orderRecord(id=${order.id})}" 
						class="noDecoration" th:utext="${order.confirmationNumber}">${order.confirmationNumber}</a></td>
					<td><a href="orderRecord" th:href="@{/admin/orderRecord(id=${order.id})}" 
						class="noDecoration"><span th:text="|$${#numbers.formatDecimal({order.amount}, 0, 'COMMA', 2, 'POINT')}|" >amount</span></a></td>
					<td><a href="orderRecord" th:href="@{/admin/orderRecord(id=${order.id})}" 
						class="noDecoration"><span th:text="${#dates.format({order.dateCreated}, 'dd/MMM/yyyy')}">date</span></a></td>
				</tr>
			</table>
		</div>

		<!-- customerRecord is requested -->
		<div th:if="${customerRecord} != null">

			<table id="adminTable" class="detailsTable">

				<tr class="header">
					<th colspan="2">customer details</th>
				</tr>
				<tr>
					<td style="width: 290px"><strong>customer id:</strong></td>
					<td th:text="${customerRecord.id}">customerRecord.id</td>
				</tr>
				<tr>
					<td><strong>name:</strong></td>
					<td th:text="${customerRecord.name}">customerRecord.name</td>
				</tr>
				<tr>
					<td><strong>email:</strong></td>
					<td th:text="${customerRecord.email}">customerRecord.email</td>
				</tr>
				<tr>
					<td><strong>phone:</strong></td>
					<td th:text="${customerRecord.phone}">customerRecord.phone</td>
				</tr>
				<tr>
					<td><strong>address:</strong></td>
					<td th:text="${customerRecord.address}">customerRecord.address</td>
				</tr>
				<tr>
					<td><strong>city region:</strong></td>
					<td th:text="${customerRecord.cityRegion}">customerRecord.cityRegion</td>
				</tr>
				<tr><td colspan="2" style="padding: 0 20px"><hr/></td></tr>

				<tr class="tableRow"
					th:onclick="|document.location.href='admin/orderRecord?${order.id}'|" th:if="${order} != null">
					<td colspan="2">
						<!-- Anchor tag is provided in case JavaScript is disabled -->
						<a href="orderRecord" th:href="@{/admin/orderRecord(id=${order.id})}"  class="noDecoration">
						<strong>view order summary &#x279f;</strong></a></td>
				</tr>
				<tr class="tableRow"
					th:onclick="|document.location.href='admin/viewCustomerOrders?${customerRecord.id}'|" th:if="${orders} != null">
					<td colspan="2">
						<!-- Anchor tag is provided in case JavaScript is disabled -->
						<a href="orderRecord" th:href="@{/admin/viewCustomerOrders(id=${customerRecord.id})}"  class="noDecoration">
						<strong>view order summary &#x279f;</strong></a></td>
				</tr>
			</table>
		</div>
		
		<!-- orderRecord is requested -->
		<div th:if="${orderRecord} != null">

			<table id="adminTable" class="detailsTable">

				<tr class="header">
					<th colspan="2">order summary</th>
				</tr>
				<tr>
					<td><strong>order id:</strong></td>
					<td th:text="${orderRecord.id}">orderRecord.id</td>
				</tr>
				<tr>
					<td><strong>confirmation number:</strong></td>
					<td th:text="${orderRecord.confirmationNumber}">orderRecord.confirmationNumber</td>
				</tr>
				<tr>
					<td><strong>date processed:</strong></td>
					<td><span th:text="${#dates.format({orderRecord.dateCreated}, 'dd/MMM/yyyy')}">date</span></td>
				</tr>

				<tr>
					<td colspan="2">
						<table class="embedded detailsTable">
						   <tr class="tableHeading">
								<td class="rigidWidth">product</td>
								<td class="rigidWidth">quantity</td>
								<td>price</td>
							</tr>

							<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

							<tr th:each="orderedProduct,rowStat : ${orderedProducts}">
								<td th:text="#{${products[{rowStat.index}].name}}">name</td>
								<td th:text="${orderedProduct.quantity}">orderedProduct.quantity</td>
								<td class="confirmationPriceColumn">
									<span th:text="|$${#numbers.formatDecimal({products[{rowStat.index}].price * orderedProduct.quantity}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>

							<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

							<tr>
								<td colspan="2" id="deliverySurchargeCellLeft"><strong>delivery surcharge:</strong></td>
								<td id="deliverySurchargeCellRight">
									<span th:text="|$${#numbers.formatDecimal({deliverySurcharge}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>

							<tr>
								<td colspan="2" id="totalCellLeft"><strong>total amount:</strong></td>
								<td id="totalCellRight">
									<span th:text="|$${#numbers.formatDecimal({orderRecord.amount}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

				<tr class="tableRow"
					th:onclick="|document.location.href='admin/orderRecord?${customer.id}'|">
					<td colspan="2">
						<!-- Anchor tag is provided in case JavaScript is disabled -->
						<a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}" class="noDecoration">
							<strong>view customer details &#x279f;</strong></a></td>
				</tr>
			</table>

		</div>	
		
		<!-- orderRecords are requested -->
		<div th:if="${orderRecords} != null">

			<table id="adminTable" class="detailsTable" th:each = "orderRecord : ${orderRecords}">

				<tr class="header">
					<th colspan="2">order summary</th>
				</tr>
				<tr>
					<td><strong>order id:</strong></td>
					<td th:text="${orderRecord.id}">orderRecord.id</td>
				</tr>
				<tr>
					<td><strong>confirmation number:</strong></td>
					<td th:text="${orderRecord.confirmationNumber}">orderRecord.confirmationNumber</td>
				</tr>
				<tr>
					<td><strong>date processed:</strong></td>
					<td><span th:text="${#dates.format({orderRecord.dateCreated}, 'dd/MMM/yyyy')}">date</span></td>
				</tr>

				<tr>
					<td colspan="2">
						<table class="embedded detailsTable">
						   <tr class="tableHeading">
								<td class="rigidWidth">product</td>
								<td class="rigidWidth">quantity</td>
								<td>price</td>
							</tr>

							<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

							<tr th:each="orderedProduct,rowStat : ${orderedProducts}">
								<td th:text="#{${products[{rowStat.index}].name}}">name</td>
								<td th:text="${orderedProduct.quantity}">orderedProduct.quantity</td>
								<td class="confirmationPriceColumn">
									<span th:text="|$${#numbers.formatDecimal({products[{rowStat.index}].price * orderedProduct.quantity}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>

							<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

							<tr>
								<td colspan="2" id="deliverySurchargeCellLeft"><strong>delivery surcharge:</strong></td>
								<td id="deliverySurchargeCellRight">
									<span th:text="|$${#numbers.formatDecimal({deliverySurcharge}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>

							<tr>
								<td colspan="2" id="totalCellLeft"><strong>total amount:</strong></td>
								<td id="totalCellRight">
									<span th:text="|$${#numbers.formatDecimal({orderRecord.amount}, 0, 'COMMA', 2, 'POINT')}|">price</span>
								</td>
							</tr>
						</table>
					</td>
				</tr>

				<tr><td colspan="3" style="padding: 0 20px"><hr/></td></tr>

				<tr class="tableRow"
					th:onclick="|document.location.href='admin/orderRecord?${customer.id}'|">
					<td colspan="2">
						<!-- Anchor tag is provided in case JavaScript is disabled -->
						<a href="customerRecord" th:href="@{/admin/customerRecord(id=${customer.id})}" class="noDecoration">
							<strong>view customer details &#x279f;</strong></a></td>
				</tr>
			</table>

		</div>	
		

		<!-- content end -->
		
		<div id="footer" th:include="fragments/adminFragments :: adminFooter"></div>
	</div>
</body>
</html>