<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminFragments :: adminHeader0">...
</head>
<body>
	<div id="main">
		<div id="header" th:include="fragments/adminFragments :: adminHeader1">
			...</div>
		<h2>admin console</h2>
		<div class="panel-body">
			<div class="alert alert-warning alert-dismissable" th:if="${message}">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
			</div>
			<div th:if="${param.error}">Invalid username and password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<div class="alert alert-warning alert-dismissable" th:if="${message}">
				<button type="button" class="close" data-dismiss="alert"
					aria-hidden="true">&times;</button>
				<strong th:text="${message}"></strong>
			</div>
			<form th:action="@{/admin/login}" method="POST">
					<div class="form-group">
						<input class="form-control" placeholder="Username" type="text"
							autofocus="autofocus" id="username" name="username" />
					</div>
					<div class="form-group">
						<input class="form-control" placeholder="Password" type="password"
							id="password" name="password" />
					</div>
					<button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
			</form>
		</div>
		<div id="footer" th:include="fragments/adminFragments :: adminFooter"></div>
	</div>
</body>
</html>