<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/adminFragments :: adminHeader0">...
</head>
<body>
	<div id="main">
		<div id="header" th:include="fragments/adminFragments :: adminHeader1">
			...</div>
		<h2>Login</h2>
		<div class="panel-body">
			
			<div th:if="${param.error}">Invalid username and/or password.</div>
			<div th:if="${param.logout}">You have been logged out.</div>
			<div class="alert alert-warning alert-dismissable" th:if="${message}">
				<strong th:text="${message}"></strong>
			</div>
			<form th:action="@{/login}" method="POST">
					<div class="form-group">
		            <div><label for="email" th:text="|#{email}:|">email</label>
					</div>
					<div><input class="form-control" placeholder="Email" type="text"
							autofocus="autofocus" id="username" name="username" />
					</div>
					</div>
					<div class="form-group">
						<div><label for="password">password:</label></div>
						<div><input class="form-control" placeholder="Password" type="password"
							id="password" name="password" /></div>
					</div>
					<button type="submit" class="btn btn-lg btn-success btn-block">Login</button>
			</form>
		</div>
		<div id="footer" th:include="fragments/adminFragments :: adminFooter"></div>
	</div>
</body>
</html>