<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">
	<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" th:href="@{/css/affableBean.css}"></link>
<title>The Affable Bean</title>

</head>
<body>
	<div id="main">
		<div id="header" th:replace="fragments/bodyHeader :: bodyHeader">header</div>

			<div id="categoryLeftColumn">

				<div th:each="category : ${categoryList}">
					<div class="categoryButton" id="selectedCategory" th:if="${category.id == id}">
						<span class="categoryText" th:text="#{${category.name}}">
						</span>
					</div>
					<a href="#" th:href="@{'category?id=' + ${category.id}}" class="categoryButton" th:if="${category.id != id}">
						<span class="categoryText"  th:text="#{${category.name}}">
						</span>
					</a>
				</div>


			</div>

			<div id="categoryRightColumn">
				
				<p id="categoryTitle" th:text="${session.selectedCategory.name}"></p>

				<table id="productTable">

					<tr th:each="product,rowStat : ${productList}"  th:class="${rowStat.even}? 'lightBlue' : 'white'"  class="white">
						<td>
							<img th:src="@{'/img/products/' + ${product.name} + '.png'}" th:alt="#{${product.name}}" />
						</td>

						<td>
							<span th:text="#{${product.name}}"></span>
							<br/>
							<span class="smallText" th:utext="#{${product.name} + 'Description'}"></span>
						</td>

						<td th:text="${'$'+#numbers.formatDecimal(product.getPrice(), 0, 'COMMA', 2, 'POINT')}"></td>

						<td>
							<form action="addToCart" th:action="@{/addToCart}" method="post">
                       			<input type="hidden"
                              			name="productId"
                              			th:value="${product.id}" />
                       			<input type="submit"
                              			name="submit"
                              			value = "add to cart" th:value="#{addToCart}" />
                   			</form>
						</td>
					</tr>

				</table>
			</div>
			
		<div id="footer" th:replace="fragments/bodyFooter :: bodyFooter">footer</div>
	</div>
</body>
</html>



















