<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">...
</head>
<body>
	<script>
		function validate() {
			var isValid = true;

			if (($('#password').val() == "") || ($('#email').val() == null)) {
				alert("Please enter a password");
				isValid = false;
			} else if ($('#password').val() != $('#matchingPassword').val()) {
				alert("passwords do not match");
				isValid = false;
			}

			if (isValid) {
				return true;
			} else {
				return false;
			}

		}
	</script>
	<div id="main">
		<div id="header" th:include="fragments/bodyHeader :: bodyHeader">
			...</div>
		<h2>Change Password</h2>
 		<div class="row">
			<label th:text="#{label.user.email}">Email</label>
			<span ><input class="form-control" id="email"
				name="email" type="email" value="" /></span>
			<button type="submit" th:text="#{message.resetPassword}" onclick="resetPass()">Reset Password
			</button>
		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 	<script type="text/javascript">
		function resetPass() {
			var email = $("#email").val();
			$
					.post(
							"/user/resetPassword",
							{
								email : email
							},
							function(data) {
								window.location.href = "/login.html"
										+ "?message=" + data.message;
							})
					.fail(
							function(data) {
								if (data.responseJSON.error
										.indexOf("MailError") > -1) {
									window.location.href = "/emailError.html";
								} else {
									window.location.href = "/login.html"
											+ "?message="
											+ data.responseJSON.message;
								}
							});
		}
		$(document).ajaxStart(function() {
			$("title").html("LOADING ...");
		});
	</script>
	<div id="footer" th:include="fragments/bodyFooter :: bodyFooter"></div>
</body>

</html>