<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/headTag :: headTag">...
<!-- <meta name="_csrf" th:content="${_csrf.token}"/> -->
 </head>
<body>
	<div id="main">
		<div id="header" th:include="fragments/bodyHeader :: bodyHeader">
			...</div>
		<h2>Change Password</h2>
		<input type="hidden" id= "csrf-token" th:name="${_csrf.parameterName}" th:content="${_csrf.token}" />
		<div class="row">
			<label th:text="#{label.user.email}">Email</label>
			<span ><input class="form-control" id="email"
				name="email" type="email" value="" /></span>
			<button type="submit" th:text="#{message.resetPassword}" onclick="resetPass()">Reset Password
			</button>
		</div>
	</div>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
 	<script type="text/javascript">
		function resetPass() {
			var email = $("#email").val();
			/*  			var token2 = $("meta[name='_csrf']").attr("content");; */
  			var token1 = $('input#csrf-token').attr("content"); 			
  			
			$.ajax({
					url: "/user/resetPassword",
				    datatype : "html",
				    contentType: "application/x-www-form-urlencoded; charset=UTF-8", // this is the default value, so it's optional
					data: {
						email : email
					},
					type: "POST",
 		            beforeSend: function (request)
		            {
		                request.setRequestHeader("X-CSRF-TOKEN", token1);
		            },
					success: function(data) {
								window.location.href = "/login.html"
										+ "?message=" + data.message;
							},
					fail:
							function(data) {
								if (data.responseJSON.error
										.indexOf("MailError") > -1) {
									window.location.href = "/emailError.html";
								} else {
									window.location.href = "/login.html"
											+ "?message="
											+ data.responseJSON.message;
								}
							}
			});
		}
		$(document).ajaxStart(function() {
			$("title").html("LOADING ...");
		});
	</script>
	<div id="footer" th:include="fragments/bodyFooter :: bodyFooter"></div>
</body>

</html>