<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/headTag :: headTag">...
</head>
<body>
	<script
		src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script type="text/javascript">
	$(document).ready(function () {
		$('form').submit(function(event) {
			savePass(event);
		});
		
	    var pwMatches = $('div#pwMatches').text();
		$(":password").keyup(function(){
			if($("#password").val() != $("#matchingPassword").val()){
		        $("#globalError").show().html(pwMatches);
		    }else{
		    	$("#globalError").html("").hide();
		    }
		});
	});
	
	function savePass(event) {
		event.preventDefault();
	    var pwMatches = $('div#pwMatches').text();
	    if($("#password").val() != $("#matchingPassword").val()){
	    	$("#globalError").show().html(pwMatches);
	    	return;
	    }
	    var formData= $('form').serialize();
		var token1 = $('input#csrf-token').attr("content"); 			
		$.ajax({
			url: "/user/savePasswordFromScratch",
		    datatype : "html",
		    contentType: "application/x-www-form-urlencoded; charset=UTF-8", // this is the default value, so it's optional
			data: formData,
			type: "POST",
	        beforeSend: function (request)
	        {
	            request.setRequestHeader("X-CSRF-TOKEN", token1);
	        },
			success: function(data) {
				if (data.status === "failure") {
			      	alert("failure!");
		        	/* var errors = $.parseJSON(data.errorMessageList); */
		            $.each( data.errorMessageList, function( index,item ){
		                alert("error:"+item.field);
		            });
				} else {
				    alert("success!");
					window.location.href = "/";	// data.message;
				}
				/*window.location.href = "/login.html" + "?message=" + "password changed";	// data.message;  */
			},
			fail: function(data) {
	        	var errors = $.parseJSON(data.responseJSON.message);
	            $.each( errors, function( index,item ){
	                $("#"+item.field+"Error").show().html(item.defaultMessage);
	            });
	            errors = $.parseJSON(data.responseJSON.error);
	            $.each( errors, function( index,item ){
	                $("#globalError").show().append(item.defaultMessage+"<br/>");
	            });
			}
		});
	}
</script>
	<div id="main">
		<div id="header" th:include="fragments/bodyHeader :: bodyHeader">
			...</div>
		<h2>Change Password</h2>
		<input type="hidden" id="csrf-token" th:name="${_csrf.parameterName}"
			th:content="${_csrf.token}" />
		<!-- content begin -->
		<span class="error" th:if="${error}">There was a problem
			updating this customer</span> <span class="error"
			th:if="${passwordNoMatchError}">Passwords do not match</span>

		<div id="pwMatches" style="display: none;" th:text="#{PasswordMatches.user}"></div>
		<form th:action="@{/}" th:object="${passwordDto}" method="POST">
			<!-- onsubmit="return validate();"> -->
			<div class="form-group row">
				<label class="col-sm-5" th:text="|#{label.user.password}:|"></label>
				<span class="col-sm-5"><input class="form-control"
					th:field="*{password}" value="" type="password" required="required"  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}"/></span>
				<span id="globalError" class="alert alert-danger col-sm-4"
					style="display: none"></span>
			</div>
			<div class="form-group row">
				<label class="col-sm-5" th:text="|#{label.user.confirmPass}:|"></label>
				<span class="col-sm-5"><input class="form-control"
					th:field="*{matchingPassword}" value="" type="password"
					required="required" /></span> 
				<span id="globalError" class="alert alert-danger col-sm-4" style="display: none"></span>
			</div>
			<br />
			<button type="submit" class="btn btn-primary"
				th:text="#{label.form.submit}"></button>

			<table class="formTable">
				<tr th:if="${#vars['validationErrorFlag'] != null}">
					<td colspan="2" style="text-align: left" class="error smallText">
						<span th:if="${passwordError} != null" th:text="#{validationErrorMessage}">     
							<br /> 
							<span class="indent">password</span>
						</span>
					</td>
				</tr>

			</table>
		</form>

		<!-- content end -->

		<div id="footer" th:include="fragments/bodyFooter :: bodyFooter"></div>
	</div>
	<span class="error" th:if="${success}"> <script
			type="text/javascript">
		loginRedirect();
	</script>
	</span>
</body>
</html>