<!DOCTYPE HTML>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link rel="stylesheet" type="text/css" href="css/affablebean.css"/>
        <title th:text="#{title}">The Affable Bean</title>
    </head>
    <body>
        <div id="main">
        
        
            <div id="header" th:fragment="bodyHeader">
                <div id="widgetBar">

                    <div class="headerWidget">
                    	<!-- language widget -->
	                    <!--/*  if language hasn't been explicitly set then use browser's locale */-->
	                    <span th:if="${session.language == null}">
	                    	<!--/*  if locale is NOT cs */-->
	                    	<span th:if="${!#strings.contains(#locale,'cs')}">english</span>
	                    	<span class="bubble" th:if="${#strings.contains(#locale,'cs')}"><a href="chooseLanguage?lang=en" th:href="@{/chooseLanguage?lang=en}">english</a></span>
	                    	 | 
	                    	<!--/*  if locale IS cs */-->
	                    	<span th:if="${#strings.contains(#locale,'cs')}">česky</span>
	                    	<span class="bubble" th:if="${!#strings.contains(#locale,'cs')}"><a href="chooseLanguage?lang=cs" th:href="@{/chooseLanguage?lang=cs}">česky</a></span>
	                    </span>
	                        
	                    <!--/*  language has been set */-->
	                    <span th:if="${session.language != null}">
	                    	<!--/*  if locale is NOT cs */-->
	                    	<span th:if="${!#strings.contains({session.language},'cs')}">english</span>
	                    	<span class="bubble" th:if="${#strings.contains({session.language},'cs')}"><a href="chooseLanguage?lang=en" th:href="@{/chooseLanguage?lang=en}">english</a></span>
	                    	 | 
	                    	<!--/*  if locale IS cs */-->
	                    	<span th:if="${#strings.contains({session.language},'cs')}">česky</span>
	                    	<span class="bubble" th:if="${!#strings.contains({session.language},'cs')}"><a href="chooseLanguage?lang=cs" th:href="@{/chooseLanguage?lang=cs}">česky</a></span>
	                    </span>
	                        
	                   <!--/*     <div th:text="${#httpServletRequest.getAttribute('language')}">httpServletRequest.getAttribute </div> */-->

                         
                    </div>

					<!-- checkout widget -->
                    <div class="headerWidget">
                        <a href="checkout" class="bubble" th:href="@{/checkout}" th:utext="#{proceedCheckout}" 
                        	th:if="${session.cart} != null and 
                        	${session.cart.numberOfItems} != 0 and
                        	${!#strings.contains({#httpServletRequest.getServletPath()}, '/checkout')} and 
	                      	${!#strings.contains({#httpServletRequest.getServletPath()}, '/viewCart')} and
	                      	${validationErrorFlag} != true and
	                      	${orderFailureFlag} != true">Proceed to Checkout</a>
                    </div>

					
					<!-- shopping cart widget -->
                    <div class="headerWidget" id="viewCart">
                    	<img src="/img/cart.gif" th:src="@{/img/cart.gif}" alt="shopping cart icon" id="cart" />
                        

                        <span class="horizontalMargin" th:text="|0  #{items}|" th:if="${session.cart} == null or ${session.cart.numberOfItems} == 0">cart</span>
                        <span class="horizontalMargin" th:text="|1  #{item}|" th:if="${session.cart} != null and ${session.cart.numberOfItems} == 1">cart</span>
                        <span class="horizontalMargin" th:text="|${session.cart.numberOfItems} #{items}|" th:if="${session.cart} != null and ${session.cart.numberOfItems} > 1">cart</span>

 	                    <a href="viewCart" th:href="@{/viewCart}" class="bubble" th:text="#{cart}" 
	                    	th:if="${session.cart} != null and 
	                      		${session.cart.numberOfItems} != 0 and 
	                      		${!#strings.contains({#httpServletRequest.getServletPath()}, '/viewCart')}">
	                          view cart
	                    </a>

                    </div>
                    <div class="headerWidget" id="login">
                    	<span class="horizontalMargin" th:if="${session.isSignedIn} != null and ${session.isSignedIn} == true">Signed In (<a th:href="@{/logout}">logout</a>)</span>
                    	<span class="horizontalMargin" th:if="${session.isSignedIn} == null"><a href="login" th:href="@{/login}">Login</a> | <a th:href="@{/newMember}">Register</a></span>
                    </div>

                </div>

                <a href="home" >
                    <img src="../img/logo.png" th:src="@{/img/logo.png}" id="logo" alt="Affable Bean logo"/>
                </a>

                <img src="../img/logoText.png" th:src="@{/img/logoText.png}" id="logoText" alt="the affable bean"/>
            </div>
            
            
            
		</div>
	</body>
</html>