<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<div>
	            <div id="footer" th:fragment="bodyFooter">
	                <hr/>
	                <p id="footerText" class="reallySmallText">
	                <a href="#"><div th:text="#{messages/messages.privacy}"></div></a>
                    &nbsp;&nbsp;::&nbsp;&nbsp;
                    <a href="#"><div th:text="#{messages/messages.contact}"></div></a>
                    &nbsp;&nbsp;&copy;&nbsp;&nbsp;
                    2010 the affable bean</p>
	            </div>
	        </div>
		</div>
    </body>
</html>