<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<div>
			<div>
	            <div id="footer" th:fragment="bodyFooter">
	                <br/>
               		<hr id="footerDivider"/>
	                <p id="footerText" class="reallySmallText">
	                <a href="#"><span th:text="#{privacy}"></span></a>
                    &nbsp;&nbsp;::&nbsp;&nbsp;
                    <a href="#"><span th:text="#{contact}" ></span></a>
                    &nbsp;&nbsp;&copy;&nbsp;&nbsp;
                    2010 the affable bean</p>
	            </div>
	        </div>
		</div>
    </body>
</html>