<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headTag :: headTag">...
</head>
<body>
	<div id="main">
		<div id="header" th:include="fragments/bodyHeader :: bodyHeader"> ... </div>
	    <h1 th:text="|Status: ${status}|">Status</h1>
	    <h1 th:text="|Error: ${errorCode}|">500</h1>
	    <h2 th:text="|Message: ${errorMessage}|">java.lang.NullPointerException</h2>
		<div id="footer" th:include="fragments/bodyFooter :: bodyFooter"></div>
	</div>
</body>
</html>